= form_for(@alert, remote: true, data: { type: :json }, html: { class: 'form-inline editable' }) do |f|

  - if params[:field] == 'ticket'
    .form-group.mr-2
      = f.text_field :ticket, class: 'form-control form-control-sm'

  - elsif params[:field] == 'kind'
    .form-group.mr-2
      = f.collection_select :kind_id, Kind.kept.all, :id, :name, {}, class: 'form-control form-control-sm'

  - elsif params[:field] == 'family'
    .form-group.mr-2
      = f.collection_select :family_id, Family.kept.all, :id, :name, {}, class: 'form-control form-control-sm'

  - elsif params[:field] == 'departments'
    .form-group.mr-2
      = f.collection_select :department_ids, Department.kept.all, :id, :name, { include_blank: '' }, :multiple => true, class: 'form-control form-control-sm'

  - elsif params[:field] == 'users'
    .form-group.mr-2
      = f.collection_select :user_ids, User.kept.all, :id, :name, { include_blank: '' }, :multiple => true, class: 'form-control form-control-sm'

  = f.button class: 'btn btn-sm btn-warning', data: { disable_with: "<i class='fas fa-spinner fa-spin'></i>" } do
    %i.fas.fa-edit
