.row
  .alerts.col-3.col-sm-5.col-md-4.col-lg-3.col-xl-3{style: ''}
    .filter-box
      %button.filter.btn.btn-sm.btn-secondary{"aria-controls" => "collapse", "aria-expanded" => "false", "data-target" => "#collapse", "data-toggle" => "collapse", :type => "button"}
        %i.fa-fw.fas.fa-filter
      .title Filters
      #collapse.collapse
        = form_tag alerts_path, method: :get do
          .form-group.row
            %label.col-sm-2.col-form-label{:for => "alert_states"} State
            .col
              = filter(:alert, :states, Alert.aasm.states, :name, :name, @filter_params.nil? ? [] : @filter_params[:states])

          .form-group.row
            %label.col-sm-2.col-form-label{:for => "alert_severities_"} Severity
            .col
              = filter(:alert, :severities, Severity.kept.all.order(order: :desc), :slug, :name, @filter_params.nil? ? [] : @filter_params[:severities])

          .form-group.row
            %label.col-sm-2.col-form-label{:for => "alert_kinds_"} Kind
            .col
              = filter(:alert, :kinds, Kind.kept.all.order(:name), :slug, :name, @filter_params.nil? ? [] : @filter_params[:kinds])

          .form-group.row
            %label.col-sm-2.col-form-label{:for => "alert_families_"} Family
            .col
              = filter(:alert, :families, Family.kept.all.order(:name), :slug, :name, @filter_params.nil? ? [] : @filter_params[:families])

          .form-group.row
            %label.col-sm-2.col-form-label{:for => "alert_sources_"} Source
            .col
              = filter(:alert, :sources, Source.kept.all.order(:name), :slug, :name, @filter_params.nil? ? [] : @filter_params[:sources])

          .form-group.row
            %label.col-sm-2.col-form-label{:for => "alert_departments_"} Dept
            .col
              = filter(:alert, :departments, Department.kept.all.order(:name), :slug, :name, @filter_params.nil? ? [] : @filter_params[:departments])

          .form-group.row
            %label.col-sm-2.col-form-label{:for => "alert_users_"} User
            .col
              = filter(:alert, :users, User.kept.all.order(:name), :slug, :name, @filter_params.nil? ? [] : @filter_params[:users])

          .form-group.row
            .col
              = button_tag 'Apply Filters', class: 'btn btn-sm btn-primary filter-submit'

    - @alerts.each do |alert|
      = link_to alert_path(alert), class: 'alert-box', style: "background-color: #{alert.severity_internal.color}", remote: true do
        .icons
          %i.fa-fw{title: alert.kind.name, class: alert.kind.icon}
          %i.fa-fw{title: alert.family.name, class: alert.family.icon}
        .source-icon
          %i.fa-fw.fa-5x{class: alert.source.icon}
        .title
          - if alert.unverified?
            %span.fa-layers.fa-fw
              %i.fas.fa-circle.state-unverified
              %i.fas.fa-question-circle{title: 'Unverified', "data-fa-transform" => "shrink-6"}
          - if alert.verified?
            %span.fa-layers.fa-fw
              %i.fas.fa-circle.state-verified
              %i.fas.fa-plus-circle{title: 'Verified', "data-fa-transform" => "shrink-6"}
          - if alert.rejected?
            %span.fa-layers.fa-fw
              %i.fas.fa-circle.state-rejected
              %i.fas.fa-times-circle{title: 'Rejected', "data-fa-transform" => "shrink-6"}
          - if alert.resolved?
            %span.fa-layers.fa-fw
              %i.fas.fa-circle.state-resolved
              %i.fas.fa-check-circle{title: 'Resolved', "data-fa-transform" => "shrink-6"}
          - if alert.obsoleted?
            %span.fa-layers.fa-fw
              %i.fas.fa-circle.state-obsoleted
              %i.fas.fa-minus-circle{title: 'Obsoleted', "data-fa-transform" => "shrink-6"}
          #{alert.name}
          - if alert.count > 1
            %small x#{alert.count}
        .target= alert.target
        .detail= alert.detail
        .source= alert.source.name
        .date= alert.last_detected_at
  .alert-detail.col-9.offset-3.offset-sm-5.offset-md-4.offset-lg-3.offset-xl-3
