.col-sidebar.col-fixed-primary.text-center
  .top
    %nav.nav
      %a.nav-link.logo{href: "/"}
        %i.fas.fa-chess-rook.fa-fw{alt: "Garrison Logo", style: "font-size:2.5em;", title: "Garrison"}

      .divider Kind
      - Kind.kept.all.each do |kind|
        = link_to alerts_path(alert: { kinds: [kind.slug], states: ['unverified', 'verified'] }), title: kind.name, class: 'nav-link' do
          %span.fa-layers.fa-fw{style: "font-size: 2.5em"}
            %i.fa-fw{class: kind.icon}
            - if kind.alerts.state(:unverified).count > 0
              %span.fa-layers-counter.state-unverified-bg{title: 'Unverified'}= kind.alerts.state(:unverified).count
            - if kind.alerts.state(:verified).count > 0
              %span.fa-layers-counter.state-verified-bg{title: 'Verified', style: 'top: 16px'}= kind.alerts.state(:verified).count
      .divider Family
      - Family.kept.all.each do |family|
        = link_to alerts_path(alert: { families: [family.slug], states: ['unverified', 'verified'] }), title: family.name, class: 'nav-link' do
          %span.fa-layers.fa-fw{style: "font-size: 2.5em"}
            %i.fa-fw{class: family.icon}
            - if family.alerts.state(:unverified).count > 0
              %span.fa-layers-counter.state-unverified-bg{title: 'Unverified'}= family.alerts.state(:unverified).count
            - if family.alerts.state(:verified).count > 0
              %span.fa-layers-counter.state-verified-bg{title: 'Verified', style: 'top: 16px'}= family.alerts.state(:verified).count
  .bottom
    .version
      %i.fas.fa-fw.fa-code-branch
      = `git rev-parse --short HEAD`.chomp
  -#   %nav.nav
  -#     .dropup
  -#       %a.nav-link{"data-toggle" => "dropdown", href: "", title: "Profile"}
  -#         %i.fas.fa-user-shield{style: "font-size: 2.5em"}
  -#       .dropdown-menu
  -#         %h6.dropdown-header Lloyd
  -#         .dropdown-divider
  -#         %a.dropdown-item{href: "/profile"}
  -#           %i.far.fa-fw.fa-user
  -#           Your Profile
  -#         %a.dropdown-item{href: "/users/edit"}
  -#           %i.fas.fa-shield-alt
  -#           Security Settings
  -#         .dropdown-divider
  -#         %a.dropdown-item{"data-method" => "delete", href: "/sign_out", rel: "nofollow"}
  -#           %i.fas.fa-sign-out-alt
  -#           Sign Out
