!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/
    %title Garrison
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'application/favicon'
  %body
    .container-fluid
      .row
        = render partial: 'layouts/navigation'
        .content.col.col-offset-sidebar
          = yield
          %footer
            = link_to 'https://github.com/forward3d/garrison', target: '_blank' do
              %i.fab.fa-fw.fa-github
              Garrison
